
<div class="container">
  <h1>Your booking overview</h1>

  <div>
    <p>Price: <%= @booking.price  %></p>
    <p>Persons going: <%= @persons_going %></p>
    <p>Capacity:<%= @booking.boat.person_capacity %></p>
    <p>Start date: <%= @booking.start_date %></p>
    <p>End date: <%= @booking.end_date %> </p>

    <%= link_to "Agree and Confirm Booking", boat_bookings_path(@booking.boat_id, price: @booking.price, start_date: @booking.start_date, end_date: @booking.end_date), method: :post  %>
  </div>
</div>

