<h1>Thank you for booking! Have a nice Trip!</h1>
<h2>Your booking overview</h2>
<div class="container">

  <p> Your booking ID is <%= @booking.id %> </p>
  <div>
    <p>Price: <%= @booking.price  %></p>
    <p>Persons going: <%= @persons_going %></p>
    <p>Capacity:<%= @booking.boat.person_capacity %></p>
    <p>Start date: <%= @booking.start_date %></p>
    <p>End date: <%= @booking.end_date %> </p>
  </div>
</div>

<%= link_to "All Bookings", user_path(current_user.id)  %>
