hey <%= @user.email%>
<%= link_to "Change your password", edit_user_registration_path %>


<div class="grid">


  <div class="bookings">


  </div>

  <div class="boats">
    <% if @boats.any? %>
    <% @boats.each do |boat| %>
    <p><%= boat.title %></p>
    <p><%= boat.description %></p>
    <p><%= boat.city %></p>
    <p><%= boat.person_capacity %></p>
    <%= link_to("Show Boat", boat_path(boat)) %>
    <%= link_to("Edit Boat", edit_boat_path(boat)) %>
    <%= link_to("Delete", boat_path(boat), method: :delete, data: { confirm: "Are you sure?" }) %>
  <% end %>
    <% else %>
      no boats
    <% end %>


  </div>



</div>


<div class="container">
<% if @bookings.any?  %>
  <% @bookings.each do |booking| %>


    <p><%= @user.email %></p>
    <p><%= Boat.find(booking.boat_id).title %></p>
    <p><%= Boat.find(booking.boat_id).description %></p>
    <p><%= booking.start_date %></p>
    <p><%= booking.end_date %></p>
    <p><%= booking.license %></p>
    <% if BookingReview.where(booking_id: booking.id).first.nil? %>
      <%= link_to("Add review", new_booking_booking_review_path(booking.id)) %>
    <% else %>

      <%= link_to("Show review", booking_booking_review_path(booking.id, BookingReview.where(booking_id: booking.id).first.id)) %>
    <% end %>

  <% end %>
<% else %>
  no bookings
<% end %>
</div>

<div class="boats">


</div>
