


<div class="grid">


  <div class="profile-info">
      <div class="card1">
        <%= cl_image_tag @user.avatar, crop: :fill, class: "avatar-lg" %>
        <h3> hey <%= @user.email%> </h3>
        <p><%= link_to "Change your password", edit_user_registration_path %></p>
        <p><%= link_to "Change your avatar", edit_avatar_path %></p>
      </div>
  </div>


  <div class="boats-bookings">
    <% if @boats.any? %>
      <% @boats.each do |boat| %>
        <div class="card1">
          <h1><%= boat.title %> <i><%= link_to("", edit_boat_path(boat) , :class => "fas fa-edit") %></i>
          <i><%= link_to("", boat_path(boat), method: :delete, data: { confirm: "Are you sure?" }, :class => "fas fa-trash-alt") %></h1></i>

          <h3><%= boat.description %></h3>
          <p>City: <%= boat.city %></p>
          <p>Person Capacity: <%= boat.person_capacity %></p>
          <%= link_to("Show Boat", boat_path(boat), :class => "btn btn-primary") %>
        </div>
      <% end %>
    <% else %>

      <div class="card1">
        no boats
      </div>
    <% end %>

    <% if @bookings.any?  %>
      <% @bookings.each do |booking| %>

        <div class="card1">
          <div class="message">
            <%= cl_image_tag(Boat.find(booking.boat_id).owner[0].avatar, class: "avatar-lg") %>
            <div class="message-name">
             <h3> <%=  Boat.find(booking.boat_id).title %> </h3>
             <p>From <%= booking.start_date%> to<%= booking.end_date%></p>
            </div>

            <div class="message-body">
                <% if BookingReview.where(booking_id: booking.id).first.nil? %>
                <%= link_to("Add review", new_booking_booking_review_path(booking.id)) %>
                <% else %>
                <%= link_to("Show review", booking_booking_review_path(booking.id, BookingReview.where(booking_id: booking.id).first.id), class: "show-review") %>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>

    <% else %>
      <div class="card1">
        no bookings
      </div>
    <% end %>


  </div>


  </div>






