<h1>Boats#index</h1>
<p>Find me in app/views/boats/index.html.erb</p>
hi sdf
<% @boats.each do |boat| %>
<ul>
  <li>Boat Title: <%= boat.title %></li>
  <li>Boat Description: <%= boat.description %></li>
  <li>Boat City: <%= boat.city %></li>
  <li>Boat Person Capacity: <%= boat.person_capacity %></li>
  <li>Boat Price: <%= boat.price %></li>
  <li><%= link_to "Details", boat_path(boat, capacity: @search_capacity) %></li>
  <li><%= cl_image_tag boat.photo, height: 300, width: 400, crop: :fill %></li>
</ul>

<% end %>

