



<div class="container-form">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <div class="form-box" style="margin-top: 20px">

       <h2 style="padding-left: 45px;">Add a new boat</h2>
       <%= simple_form_for(@boat) do |f| %>
       <div class="flexbox-form">
        <div class="form-content-left">
       <div class="form-group-new">

        <%= f.input :title, as: :string %>
      </div>
      <div class="form-group-new">

        <%= f.input :description, as: :string %>
      </div>
      <div class="form-group-new" id="form-location">
        <%= f.label :city, as: :string %>
        <%= f.text_field :city, as: :string,  :id => "criteria_location" %>
      </div>
      <div class="form-group-new">

        <%= f.input :person_capacity, as: :integer %>
      </div>
    </div>
    <div class="form-content-right">
      <div class="form-group-new">

        <%= f.input :price, as: :integer %>
      </div>
      <div class="form-group-new">
       <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker mr-sm-2 "}, :placeholder => "Starts at" %>
     </div>
     <div class="form-group-new">
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker mr-sm-2"}, :placeholder => "Ends at" %>
    </div>
    <div class="form-group-new">
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    </div>
    <%= f.button :submit, "Create Boat", class: "search-c2a" %>
  </div>
</div>
<% end %>
</div>
</div>
</div>
</div>

