
<ul>
  <li><%= cl_image_tag @boat.photo, height: 300, width: 400, crop: :fill %></li>
  <li>Boat Title: <%= @boat.title %></li>
  <li>Boat Description: <%= @boat.description %></li>
  <li>Boat City: <%= @boat.city %></li>
  <li>Boat Person Capacity: <%= @boat.person_capacity %></li>
  <li>Boat Price: <%= @boat.price %></li>
  <% if params.has_key?(:capacity) %>
  <li><%= link_to "Go Back Results", boats_path(id: @boat.id, capacity: params[:capacity], start_date: @start_date, end_date: @end_date, persons_going: @persons_going) %></li>
  <% else %>
  <% end %>
</ul>

<ul>
  <%@reviews.each do |review| %>
    <li><%= review.title %> </li>
    <li><%= review.content %> </li>
    <li><%= review.rating %> </li>
  <%end%>
</ul>


<%= link_to "Request Booking", new_boat_booking_path(@boat, price: @boat.price, capacity: @boat.person_capacity, start_date: @start_date, end_date: @end_date, persons_going: @persons_going ) %>
<%= link_to "Edit Boat",edit_boat_path(@boat.id) %>
<%= link_to("Delete", boat_path(@boat), method: :delete, data: { confirm: "Are you sure?" }) %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @marker.to_json %>"
  ></div>
