

<div class="banner_show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @boat.photo, crop: :fill %>'); background-position: center center;">
    <div class="title-box">
    <h2><%= @boat.title %></h2>
    </div>

        <% if (user_signed_in? && (current_user.id == @boat.user_id)) %>
        <div class="edit-and-delete">
          <div class="edit-delete-btn">
            <%= link_to "", edit_boat_path(@boat.id), class: "editicon fas fa-edit" %>

          </div>

          <div class="edit-delete-btn">
            <%= link_to "", boat_path(@boat), method: :delete, data: { confirm: "Are you sure?" }, class: "fas fa-trash-alt " %>
          </div>
          </div>
        <% end %>
</div>


<div class="boat-info-description-and-review">
  <div class="description-and-review">
    <h3>Boat Description</h3>
    <div class="boat-description-container panel panel-default">
        <p><%= @boat.description %></p>
    </div>

    <h3>Reviews</h3>

    <div class="boat-review-container panel panel-default">
        <%@reviews.each do |review| %>
        <div class="single-review">
          <div class="review-profile">
            <% author_id = review.user_id %>
            <% author = User.find(author_id) %>
            <% author_avatar = author.avatar %>
            <img src='<%= author_avatar %>' class="review-avatar">
            <p class="by-name"><%= author.email %></p>
          </div>
          <div class="review-content">
            <h4><%= review.title %> </h4>

            <p><%= review.content %> </p>
            <% t = review.rating.to_i %>
              <div class="stars">
                <% t.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% (5-t).times do %>
                  <i class="far fa-star"></i>
                <% end %>
              </div>
          </div>
        </div>
        <%end%>
    </div>
  </div>
  <div class="boat-info-container panel panel-default ">
    <div class="panel-heading">
      <h3 class="panel-title">Boat & Booking Info</h3>
    </div>
    <div class="boat-info-text panel-body">
      <p>City: <%= @boat.city %></p>
      <p>Person Capacity: <%= @boat.person_capacity %></p>
      <p>Daily Price: <%= @boat.price %></p>
      <% start_date = params[:start_date] %>
      <% end_date = params[:end_date] %>
      <% if !end_date.nil? %>
        <%  total_price = (@boat.price.to_i * (end_date.to_date - start_date.to_date)).to_i %>
        <% end %>
      <p>Start Date: <%= start_date %></p>
      <p>End Date: <%= end_date %></p>
      <p>Total Price: <%= total_price %></p>
      </div>
      <div class="request-div">
      <% if (current_user.nil? || current_user.id != @boat.user_id) %>
          <%= link_to "Request to Book", new_boat_booking_path(@boat, price: @boat.price, capacity: @boat.person_capacity, start_date: @start_date, end_date: @end_date, persons_going: @persons_going ), class: "action-option requestbtn" %>
      <% end %>
      </div>
  </div>
</div>


    <div class="request-and-back-container">

      <div class="request-and-go-back-btn">

      <% if params.has_key?(:capacity) %>
        <p><%= link_to "Back to Results", boats_path(fromshow: "true", id: @boat.id, capacity: params[:capacity], start_date: @start_date, end_date: @end_date, persons_going: @persons_going, location: params[:location], price: params[:price]), class: "backbtn" %></p>
      <% else %>
      <% end %>
      </div>


    </div>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @marker.to_json %>"
  >
</div>

